<!-- Slider main container -->
<div class="b_fullpage swiper-container">

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
      <!-- Slides -->
      @@for (var i = 0; i < slides.length; i++) {
        @@include("b_fullpage-slide.html", `+(JSON.stringify(slides[i]))+` )
      }
  </div>

  @@if (pagination === true) {
    <!-- If we need pagination -->
    <div class="b_fullpage__pagination swiper-pagination"></div>
  }

  @@if (navigation === true) {
    <!-- If we need navigation buttons -->
    <div class="b_fullpage__nav-next swiper-button-prev"></div>
    <div class="b_fullpage__nav-prev swiper-button-next"></div>
  }

  @@if (scroll_down === true) {
    <div class="b_fullpage__scroll-down">
      <svg  viewBox="0 0 64 64" width=""  class="icon icon--sm" role="presentation"><use xlink:href="svg/symbol/svg/sprite.symbol.svg#arrow_scroll"></use></svg>
      <span class="b_fullpage__scroll-down__text--desktop">Scroll down to continue</span>
      <span class="b_fullpage__scroll-down__text--mobile">Scroll right to continue</span>
    </div>
    <div class="b_fullpage__scroll-up">
      <svg  viewBox="0 0 64 64" width=""  class="icon icon--sm" role="presentation"><use xlink:href="svg/symbol/svg/sprite.symbol.svg#arrow_scroll-up"></use></svg>
      <span class="b_fullpage__scroll-down__text--desktop">Scroll up to continue</span>
      <span class="b_fullpage__scroll-down__text--mobile">Scroll left to continue</span>
    </div>
  }

  @@if (code === true) {
    <div class="b_fullpage__code">
      <p>@@code_text</p>
    </div>
  }

</div>
