<div class="b_fullpage__slide swiper-slide" data-pagination="@@section_name">
  <section class="b_special container-fluid">
    <div class="row align-items-center">

      @@if (img === true) {
        <div class="col b_special__img">
          <img src="@@img_url" alt="">
        </div>
      }

      <div class="col b_special__content ml-auto">
        <p class="b_special__content__text-before">@@text_before</p>
        <p class="b_special__content__title">@@title</p>
        <p class="b_special__content__text-after">@@text_after</p>
        
        @@if (button === true) {
          <a class="b_special__content__button" href="@@button_link">@@button_text</a>
        }

        @@if (share === true) {
          @@include("b_share.html", { "class": "" })
        }

        <p class="b_special__content__text-note">@@text_note</p>
      </div>
      <div class="b_special__bg" style="
        background: @@section_color_solid;
        background-image: url('./img/landing-b/trama_bg.svg');
        background-image: url('./img/landing-b/trama_bg.svg'), @@section_color;
        background-size: 7px 7px, cover;
      "></div>
    </div>
  </section>
</div>
