.b_fullpage__slide {

  .b_special {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    &--background {
      background-position: 100% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__covervideo{
      z-index: 1;
      min-height: 100vh;
      min-width: 100vw;
    }
    &__video {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color-black-0, 0.4);
      z-index: 6;

      &__video{
        display: block;
        position: absolute;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        max-width: 100%;
        width: 100vw!important;
        max-height: 100%;
        margin: auto;
      }
      &__controls{
        position: absolute;
        bottom: 60px;
        left: 30px;
        right: 30px;
        border-top: 2px solid $color-white;
        padding-top: 5px;

        &__progress {
          position: absolute;
          top: -2px;
          left: 0;
          height: 2px;
          width: 5%;
          background-color: $color-warning;
          transition: width 0.1s linear 0s;

          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: -5px;
            width: 2px;
            height: 12px;
            background-color: $color-warning;
          }
        }
        &__back {
          cursor: pointer;
        }
        &__forward {
          cursor: pointer;
        }
        &__play {
          cursor: pointer;
        }
        &__pause {
          display: none;
          cursor: pointer;
        }
      }
      &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }
    }


    > .row {
      height: 100%;
    }

    &__circle {
      position: absolute;
      display: block;
      transition: all 1.2s ease-out 0.8s;
      border-radius: 50%;
      pointer-events: none;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: none !important;
      }
      @supports (-ms-ime-align:auto) {
        display: none !important;
      }

      &--top {
        height: 7vh;
        width: 7vh;
        z-index: 3;
        transform: translate(-3.5vh, -3.5vh);
        mix-blend-mode: hard-light;
      }
      &--bottom {
        height: 18vh;
        width: 18vh;
        z-index: 1;
        transform: translate(-9vh, -9vh);
      }
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }

    &__line {
      position: absolute;
      height: 1px;
      width: 500vw;
      background-color: $color-white;
      transform-origin: 0 0;
      transition: all 6.4s ease-out 0.8s;
      pointer-events: none;

      &--top{
        top: 0;
        z-index: 4;
      }
      &--middle{
        top: 0;
        z-index: 4;
      }
      &--bottom{
        bottom: 0;
        z-index: 4;
      }
      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }

    &__img{
      position: relative;
      z-index: 2;
      height: 100%;
      text-align: right;
      //mix-blend-mode: multiply;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        opacity: 0.35;
      }
      @supports (-ms-ime-align:auto) {
        opacity: 0.35;
      }

      img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        min-height: 100%;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(-100vw);
        will-change: transform;
      }
    }

    &__content {
      position: relative;
      z-index: 5;
      max-width: 65%;
      padding-left: 6vw;
      padding-top: 8.5vh;

      &__title {
        font-family: $fontstack-edo;
        font-size: 12.5vh;
        line-height: 10.5vh;
        color: $color-white;
        margin-bottom: 5vh;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(125vw);
        will-change: transform;
        text-shadow: 8px 8px 15px rgba(0,0,0,0.5);

        span{
          display: block;

          &.move-left{
            margin-left: -5vw;
          }
          &.move-right{
            margin-left: 5vw;
          }
          &.move-left-double{
            margin-left: -10vw;
          }
          &.move-right-double{
            margin-left: 10vw;
          }
          &.font-roboto{
            font-family: $fontstack-roboto;
            font-size: 11vh;
            padding-top: 0.5vh;
          }
          &.inline{
            display: inline;
          }
        }
        small {
          font-size: 80% !important;
          line-height: 90% !important;

          .font-roboto{
            font-family: $fontstack-roboto;
            font-size: 8.5vh;
            padding-top: 0.3vh;
          }
        }
      }

      &__text-before,
      &__text-after {
        font-family: $fontstack-roboto;
        font-weight: $fontweight-black;
        font-size: 22px;
        line-height: 26px;
        color: $color-white;
        letter-spacing: 1px;
        margin-bottom: 4vh;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(100vw);
        will-change: transform;

        &:empty {
          display: none;
        }
        span{
          display: block;

          &.move-left{
            margin-left: -5vw;
          }
          &.move-right{
            margin-left: 5vw;
          }
          &.move-left-double{
            margin-left: -10vw;
          }
          &.move-right-double{
            margin-left: 10vw;
          }
          &.inline{
            display: inline;
          }
        }
        small {
          display: block;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0;
          padding-top: 10px;
        }
      }

      &__text-note {
        font-family: $fontstack-roboto;
        font-weight: $fontweight-regular;
        font-size: 12px;
        line-height: 26px;
        color: $color-white;
        margin-bottom: 0;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(100vw);
        will-change: transform;

        &:empty {
          display: none;
        }
        span{
          display: block;

          &.move-left{
            margin-left: -5vw;
          }
          &.move-right{
            margin-left: 5vw;
          }
          &.move-left-double{
            margin-left: -10vw;
          }
          &.move-right-double{
            margin-left: 10vw;
          }
          &.inline{
            display: inline;
          }
          &.large-text {
            font-size: 18px;
          }
        }
      }

      &__button {
        display: inline-block;
        font-family: $fontstack-roboto;
        font-weight: $fontweight-black;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        max-width: 90%;
        padding: 33px 66px;
        margin-bottom: 6vh;
        background-color: rgba($color-white, 0.2);
        border: 1px solid $color-white;
        color: $color-white;
        text-decoration: none;
        transition: opacity 1.5s ease-out 1s, background-color 0.3s ease-out 0s;
        opacity: 0;
        will-change: opacity;

        &:hover {
          background-color: rgba($color-white, 0.4);
        }
      }

      sup {

      }

      &__play {
        display: inline-block;
        margin-top: 4vh;
        cursor: pointer;
        opacity: 0;
        transition: opacity 1.5s ease-out 1s;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          svg {
            overflow: visible;
          }
        }
        @supports (-ms-ime-align:auto) {
          svg {
            overflow: visible;
          }
        }

      }

      &__form {
        display: block;
        margin-top: 4vh;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(100vw);
        will-change: transform;

        form {
          display: block;
          margin-bottom: 4vh;
          max-width: 60%;

          p {
            font-weight: $fontweight-regular;
            font-size: 17px;
            line-height: 25px;
            letter-spacing: 0.5px;
            color: $color-white;
            margin-bottom: 4vh;
          }

          .input-group {
            position: relative;
            border: 1px solid $color-white;
            border-radius: 0;

            &.invalid {
              border-color: $color-warning;

              .b_footer__form__validation {
                display: block;
              }
            }
            &.success {
              .b_footer__form__success {
                display: block;
              }
            }
          }

          input,
          button {
            height: 44px;
            font-size: 16px;
            line-height: 20px;
            padding: 12px;
            border: none;
          }

          input {
            background-color: $color-white;
            color: $color-text;
          }

          button {
            padding: 12px 35px;
            display: block;
            text-align: center;
            background-color: transparent;
            color: $color-white;
            cursor: pointer;
          }
        }

        &__validation {
          display: none;
          position: absolute;
          top: -26px;
          left: 0;
          padding-left: 12px;
          font-weight: $fontweight-regular;
          font-size: 16px;
          line-height: 16px;
          color: $color-warning;
        }

        &__success {
          display: none;
          position: absolute;
          top: -2px;
          left: -2px;
          right: -2px;
          bottom: -2px;
          padding-left: 42px;
          padding-top: 5px;
          font-weight: $fontweight-medium;
          font-size: 18px;
          line-height: 21px;
          color: $color-white;
          background-color: red;
          border-radius: 3px;
          z-index: 2;
          background-image: linear-gradient(90deg, #E47786 0%, #662046 100%);

          svg {
            position: absolute;
            left: 4px;
            top: 8px;
          }
          small{
            display: block;
            font-weight: $fontweight-regular;
            font-size: 12px;
            line-height: 14px;
            padding-top: 2px;
          }
        }

        &__copy {
          display: block;
          max-width: 75%;
          p {
            margin: 0;
            font-weight: $fontweight-regular;
            font-size: 12px;
            line-height: 18px;
            text-align: left;
            color: $color-white
          }
        }
      }
    }
    &__bg__trama,
    &__bg__color {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-blend-mode: multiply;
      mix-blend-mode: multiply;
      z-index: 3;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS */
      &__bg__trama,
      &__bg__color {
        z-index: 0;
        opacity: 0.8;
      }
    }
    @supports (-ms-ime-align:auto) {
      &__bg__trama,
      &__bg__color {
        z-index: 0;
        opacity: 0.8;
      }
    }

    @media(max-width: $screen-sm-max){
      &--background {
        background-position: 50% 50%;
      }

      &__circle {
        position: absolute;
        display: block;
        transition: all 1.2s ease-out 0.8s;
        border-radius: 50%;


        &--top {
          height: 5.5vh;
          width: 5.5vh;
          z-index: 3;
          transform: translate(-2.75vh, -2.75vh);
          mix-blend-mode: hard-light;
        }
        &--bottom {
          height: 16vh;
          width: 16vh;
          z-index: 1;
          transform: translate(-8vh, -8vh);
        }
        &--desktop {
          display: none;
        }
        &--mobile {
          display: block;
        }
      }

      &__line {
        position: absolute;
        height: 1px;
        width: 500vw;
        background-color: $color-white;
        transform-origin: 0 0;
        transition: all 1.2s ease-out 0.8s;

        &--top{
          top: 0;
          z-index: 4;
        }
        &--middle{
          top: 0;
          z-index: 4;
        }
        &--bottom{
          bottom: 0;
          z-index: 4;
        }
        &--desktop {
          display: none;
        }
        &--mobile {
          display: block;
        }
      }

      &__img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        img{
          display: block;
          position: absolute;
          bottom: 2vh;
          left: -1000%;
          right: -1000%;
          margin: auto;
          max-width: 100%;
          max-height: 80%;
          min-height: 0;
        }
      }

      &__content {
        position: relative;
        z-index: 5;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        padding-left: 33vw;
        padding-top: 17vh;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          max-width: none;
        }
        @supports (-ms-ime-align:auto) {
          max-width: none;
        }

        &__title {
          max-width: none;
          font-size: 12.5vw;
          line-height: 11.5vw;
          margin-bottom: 2vh;
          text-shadow: 8px 8px 15px rgba(0,0,0,0.5);

          span{
            display: block;

            &.move-left,
            &.move-right,
            &.move-left-double,
            &.move-right-double {
              margin-left: 0;
            }
            &.move-left-mobile {
              margin-left: -7.5vw;
            }
            &.move-right-mobile {
              margin-left: 7.5vw;
            }
            &.move-left-double-mobile {
              margin-left: -15vw;
            }
            &.move-right-double-mobile {
              margin-left: 15vw;
            }
            &.font-roboto{
              font-family: $fontstack-roboto;
              font-size: 9.5vw;
            }
          }
          small {
            font-size: 100% !important;
            line-height: 90% !important;

            .font-roboto{
              font-family: $fontstack-roboto;
              padding-top: 0.5vh;
            }
          }
        }
        &__text-before,
        &__text-after {
          max-width: none;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.5px;
          margin-bottom: 2vh;

          span {
            &.move-left,
            &.move-right,
            &.move-left-double,
            &.move-right-double {
              margin-left: 0;
            }
            &.move-left-mobile {
              margin-left: -7.5vw;
            }
            &.move-right-mobile {
              margin-left: 7.5vw;
            }
            &.move-left-double-mobile {
              margin-left: -15vw;
            }
            &.move-right-double-mobile {
              margin-left: 15vw;
            }
          }
          br:not(.keep-xs){
            display: none;
          }
          small {
            max-width: 80%;
            font-size: 9px;
            line-height: 13px;
          }
        }
        &__text-note{
          position: absolute;
          bottom: 10.5vh;
          right: 10px;
          font-size: 9px;
          line-height: 13px;
          max-width: 60%;
        }

        &__button {
          font-size: 18px;
          line-height: 24px;
          float: left;
          max-width: 85%;
          padding: 10px;
        }

        &__play {
          display: block;
          max-width: 70%;
          text-align: center;
          margin-top: 15vh
        }

        &__form {
          margin-top: 2vh;

          form {
            margin-bottom: 2vh;
            max-width: 80%;

            p {
              font-weight: $fontweight-medium;
              font-size: 12px;
              line-height: 16px;
              margin-bottom: 2vh;
            }

            .input-group {
              display: block;

              input,
              button {
                display: block;
                width: 100%;
              }
            }
          }
          &__copy {
            max-width: 80%;
            p{
              font-size: 8px;
              line-height: 11px;
            }
          }
        }
      }
    }

  }

  &--active {
    .b_special{
      &__img img {
        transform: translateX(0);
      }
      &__content{
        &__title,
        &__text-before,
        &__text-after,
        &__text-note,
        &__form {
          transform: translateX(0);
        }
        &__button,
        &__play {
          opacity: 1;
        }
      }
      .b_share {
        opacity: 1;
      }
    }
  }
  &:not([class*="--active"]){
    .b_special{
      &__img img {
        transition: all 0s;
      }
      &__content{
        &__title,
        &__text-before,
        &__text-after,
        &__text-note,
        &__form {
          transition: all 0s;
        }
        &__button,
        &__play {
          transition: all 0s;
        }
      }
      .b_share {
        opacity: 0;
        transition: all 0s;
      }
      .b_special__circle--top {
        transform: translate(-100vw) !important;
        transition: all 0s;
      }
      .b_special__circle--bottom {
        transform: translate(100vw) !important;
        transition: all 0s;
      }
      .b_special__line {
        width: 0;
        transition: all 0s;
      }
    }
  }
  &.contacto {
    .b_special__content {
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: none;
        padding-left: 33%!important;
      }
      @supports (-ms-ime-align:auto) {
        max-width: none;
        padding-left: 33%!important;
      }
    }
  }
  @media(max-width: $screen-sm-max) {
    &.facil {
      .b_special__content {
        &__button {
          font-size: 13px; line-height: 16px;
          max-width: 150px;
          padding: 8px;
        }
      }
    }
    &.medico {
      .b_special__content {
        &__button {
          font-size: 13px; line-height: 16px;
          max-width: 130px;
          padding: 8px;
        }
      }
    }
    &.test {
      .b_special__content {
        &__button {
          font-size: 13px; line-height: 16px;
          max-width: 100px;
          padding: 6px 12px;
        }
      }
    }
  }
  @media(max-width: 375px) {
    &:last-child {

      .b_special__content {

        &__title {
          font-size: 8.75vw;

        }

        &__text-after {
          display: none;
        }

        &__text-before,
        &__text-after {

          span{
            display: block;
          }
        }

        &__text-note {
          span{
            &.large-text {
              font-size: 11px;
              font-weight: 500;
            }
          }
        }
        &__form {

          form {
            max-width: 86%;
            margin-bottom: 24px;
            p {
              font-size: 10px; line-height: 13px;
              font-weight: 700;
              margin-bottom: 34px;
              .hide--xs {
                display: none;
              }
            }

            .input-group {
              border: 0;
              max-width: 135px;

            }

            input,
            button {
              height: 30px;
              padding: 6px;
              border: 1px solid #fff;
              font-size: 14px; line-height: 14px;
            }

            button {
              width: auto;
              margin-left: 0;
              border-radius: 0;
            }
          }

          &__copy {

            p {
              font-size: 7px;
              line-height: 9px;
            }
          }
        }
      }
    }
  }
}
