.b_fullpage__slide {

  .b_special {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    > .row {
      height: 100%;
    }
    &__img{
      position: relative;
      z-index: 1;
      height: 100%;
      text-align: right;

      img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(-50vw);
        will-change: transform;
      }
    }

    &__content {
      position: relative;
      z-index: 3;
      max-width: 70%;
      padding-left: 5vw;
      padding-top: 10vh;

      &__title {
        font-family: $fontstack-edo;
        font-size: 15vh;
        line-height: 13.5vh;
        color: $color-white;
        margin-bottom: 5vh;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(70vw);
        will-change: transform;

        span{
          display: block;

          &.move-left{
            margin-left: -4vw;
          }
          &.font-roboto{
            font-family: $fontstack-roboto;
            font-size: 13vh;
            padding-top: 1vh;
          }
          &.inline{
            display: inline;
          }
        }
      }

      &__text-before,
      &__text-after {
        max-width: 70%;
        font-family: $fontstack-roboto;
        font-weight: $fontweight-black;
        font-size: 22px;
        line-height: 26px;
        color: $color-white;
        letter-spacing: 1px;
        margin-bottom: 4.5vh;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(50vw);
        will-change: transform;

        &:empty {
          display: none;
        }
        span{
          display: block;

          &.move-left{
            margin-left: -4vw;
          }
          &.inline{
            display: inline;
          }
        }
        small {
          display: block;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0;
          padding-top: 10px;
        }
      }

      &__text-note {
        max-width: 50%;
        font-family: $fontstack-roboto;
        font-weight: $fontweight-regular;
        font-size: 12px;
        line-height: 26px;
        color: $color-white;
        transition: transform 1s ease-out 0.5s;
        transform: translateX(50vw);
        will-change: transform;

        &:empty {
          display: none;
        }
        span{
          display: block;

          &.move-left{
            margin-left: -4vw;
          }
          &.inline{
            display: inline;
          }
        }
      }

      &__button {
        display: inline-block;
        font-family: $fontstack-roboto;
        font-weight: $fontweight-black;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        padding: 33px 66px;
        margin-bottom: 6vh;
        background-color: rgba($color-white, 0.2);
        border: 1px solid $color-white;
        color: $color-white;
        text-decoration: none;
        transition: opacity 1s ease-out 0.5s, background-color 0.3s ease-out 0s;
        opacity: 0;
        will-change: opacity;

        &:hover {
          background-color: rgba($color-white, 0.4);
        }
      }


      sup {
        padding: 0 3px;
      }
    }
    &__bg {
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      mix-blend-mode: multiply;
      background-blend-mode: multiply;
    }
  }

  &--active {
    .b_special{
      &__img img {
        transform: translateX(0);
      }
      &__content{
        &__title,
        &__text-before,
        &__text-after,
        &__text-note {
          transform: translateX(0);
        }
        &__button {
          opacity: 1;
        }
      }
      .b_share {
        opacity: 1;
      }
    }
  }
  &:not([class*="--active"]){
    .b_share {
      opacity: 0;
    }
  }
}
