.b_fullpage {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;

  &__pagination {
    position: absolute;
    right: auto !important;
    top: 25% !important;
    bottom: auto !important;
    left: 60px !important;
    width: 2px !important;
    background-color: #F7F7F7;
    padding: 4px 0;

    &__bullet {
      display: block;
      position: relative;
      font-family: $fontstack-roboto;
      font-weight: $fontweight-medium;
      font-size: 16px;
      line-height: 16px;
      padding-left: 15px;
      text-align: left;
      letter-spacing: 1px;
      color: $color-white;
      white-space: nowrap;
      margin-bottom: 20px;
      transition: all 0.3s ease-out 0s;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        left: -5px;
        top: -2px;
        height: 12px;
        width: 12px;
        background-color: $color-white;
        border-radius: 50%;
        margin-right: 5px;
        margin-top: 2px;
        transition: all 0.3s ease-out 0s;
        transform: scale(0, 0);
      }
      &:hover {
        font-weight: $fontweight-black;
      }
      &--active{
        font-weight: $fontweight-black;

        &:before {
          transform: scale(1, 1);
        }
      }
    }
  }

  &__scroll-down {
    position: absolute;
    bottom: 5vh;
    left: 60px;
    cursor: pointer;
    z-index: 2;

    &:hover {
      > svg {
        top: 10px;
      }
    }
    > svg {
      display: inline;
      position: relative;
      float: left;
      top: 0;
      transition: all 0.15s ease-out 0s;
    }
    span {
      display: inline;
      font-family: $fontstack-roboto;
      font-weight: $fontweight-black;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 1px;
      color: $color-white;
    }
  }

  &__code {
    position: absolute;
    bottom: 5vh;
    right: 60px;
    z-index: 2;

    p {
      font-family: $fontstack-roboto;
      font-weight: $fontweight-black;
      font-size: 12px;
      line-height: 16px;
      color: $color-white;
      margin: 0;
      padding: 0;
    }
  }

  &.video-overlay-open {
    .b_fullpage__pagination,
    .b_fullpage__scroll-down,
    .b_fullpage__code {
      display: none;
    }
    .b_fullpage__slide--active .b_special__video {
      display: block;
    }
    &.playing-video {
      .b_fullpage__slide--active .b_special__video__controls {
        &__play {
          display: none;
        }
        &__pause {
          display: inline;
        }
      }
    }
  }


  @media(max-width: $screen-sm-max){
    &__pagination {
      position: absolute;
      right: auto !important;
      top: 40% !important;
      bottom: auto !important;
      left: 15px !important;
      width: 2px !important;
      padding: 2px 0;

      &__bullet {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 12px;
        white-space: nowrap;
        span {
          display: inline-block;
          width: 20vw;
          white-space: normal;
        }
      }
    }
    &__scroll-down {
      bottom: 3vh;
      left: 10px;
      max-width: 45%;
    }
    &__code {
      bottom: 3vh;
      right: 10px;
      max-width: 45%;
      text-align: right;
    }
  }
}
