.b_header{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  padding: 7vh 30px 0;
  z-index: 10;

  &__logo{
    display: block;
    max-height: 7vh;
    cursor: pointer;

    &--left{
      float: left;
    }
    &--right {
      float: right;
    }
  }

  &--transparent{
    background-color: transparent;
  }

  @media(max-width: $screen-sm-max){

  }
  @media(max-width: $screen-xs-max){
    padding: 5vh 0 0;

    &__logo{
      max-height: 8vh;
      max-width: 100%;
    }
  }
}
